<div class="wrapper">
  <div *ngIf="!isAuthPage">
    <div class="sidebar" data-color='red' data-image="">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <footer-cmp></footer-cmp>
    </div>
  </div>

  <div *ngIf="isAuthPage">
    <dashboard-cmp></dashboard-cmp>
  </div>
</div>

<!-- *ngIf="isAuthPage" -->
